footer {
    position: relative;
    height: 100px;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}
#navbar a:hover {
  background-color: red;
  color: white;
}
/* Style the active/current link */
#navbar a.active {
  background-color: red;
  color: white;
}

@media (min-width:768px){
.navbar-left{
    margin-left: 0px!important;
  }
}
@media (min-width:768px){
.navbar-brand{
    margin-left: 0px!important;
  }
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-left: 0px!important;
}
}
* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  display: inline-block;
  background-color: DodgerBlue;
  color: #fff;
  margin:0 auto;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
        
.uploading{
  background-position: 0% 100%;
}

span{
  transition: 0.1s 1s ease-in-out;
}

.ok{
  position: absolute;
  left: -10px;
  top: 0px;
  opacity: 0;
}

.bounce{
  animation: bounce 0.3s ease 1.0s forwards;
}

.arrow-out{
  top: 0px;
  visibility: hidden;
}

@keyframes bounce{
  0%{
    top: 50px;
    opacity: 0;
  }
  80%{
    top: -5px;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}
