{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">About Page</h1>
      <p>Audio Classifier by Oscar Tokunaga</p>
      <p>oscar.tokunaga@hotmail.com</p>
    </div>
  </div>
</div>
{% endblock %}
