{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block content %}
<h1>Results</h1>

Here are the files you just uploaded.
<br>
<br>
{% block results %}

    <div class="container">
          <div class="center-block align"><p class="text-center text-info"> Page {{current}} of {{total_pages}}</p></div>
          <div class="center-block align"><p class="text-center text-info">{{im_from}} to {{im_to}} of {{db_size}}</p></div>
    
    </div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
        <ul class="pagination">
        {% if prev_url %}
            <li>
            <a class="page-link" href="{{ prev_url }}">Previous</a>
            </li>
        {% else %}
            <li class="disabled">
            <a class="page-link">Previous</a>
            </li>
        {% endif %}
        
        <li class="page-item {% if current==1%}active{% endif %}"><a class="page-link" href="{{ url_for('main.results', page=1) }}">{{1}}</a></li>
        {% for page in range( ([( [ (([current-5,2]|sort)[-1])+10,total_pages]|sort )[0]-10,2]|sort)[-1],([(([current-5,2]|sort)[-1])+10,total_pages]|sort)[0],1) %}
            <li class="page-item {% if current==page %}active{% endif %}"><a class="page-link" href="{{ url_for('main.results', page=page) }}">{{page}}</a></li>
        {% endfor %}
        {% if total_pages > 1 %}
            <li class="page-item {% if current==total_pages %}active{% endif %}"><a class="page-link" href="{{ url_for('main.results', page=total_pages) }}">{{total_pages}}</a></li>
        {% endif %}
        {% if next_url %}
              <li>
              <a class="page-link" href="{{ next_url }}">Next</a>
              </li>
        {% else %}
            <li class="disabled">
            <a class="page-link">Next</a>
            </li>
        {% endif %}
        </ul>
      </div>
    </div>
</div>


<div class="container-fluid content-row">
    <div class="row">
        
        {% for audio in result %}
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4">
                <div class="card text-white bg-dark h-100">
                    <a class="card-header" href="{{ url_for('static', filename = 'tmp/uploads/'+audio['name']+audio['ext'])}}">FILE: {{audio['name']}}
                    </a>
         <div class="card-body">
                      <audio controls>
                          <source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['name']+audio['ext']) }}?{{ range(1, 500) | random }}">
                     </audio>
                     {% for language,acc in audio['LANGUAGE_ID'].items() %}
                            <p class="card-text"><small class="text-muted">LANGUAGE_{{loop.index}}: {{language}}</small></p>
                            <p class="card-text"><small class="text-muted">Acc_1: {{acc}}</small></p>
                      {% endfor %}                    
                    </div>
                </div>

          </div>
       {% endfor %}

    </div>
</div>

{% endblock %}


<a href="{{ url_for('main.home') }}">Back</a><p>

{% endblock %}
