
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{{ dropzone.load() }}
{{ dropzone.style('flex:1 display: flex;flex-wrap: wrap; border: 2px dashed #0087F7; margin: 0%; max-height: 10px;background:hsla(0, 0%, 50%, 0.5);opacity: 0.5;color: #000') }}
{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container" style="display: flex;flex-wrap: wrap;">
        <h2 class="mt-5">Transmission Intercepts AI Analysis Demo</h2>
</div>

<div class="container" style="display: flex;flex-wrap: wrap;">
    <p><bold>Upload File(s):</bold></p>
</div>
<div class="container" style="width:100%;">
    {{ dropzone.create(action_view='main.upload')  }}
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="jumbotron" style="padding-top:2px;padding-bottom:10px;background:#050d07;color:#ffffff;">
            <h2 class="mt-5">Speech Language Classifier</h2>
        <h3 class="mt-5">(Demo)</h3>
            <p><bold>Start uploading files</bold></p>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4text-center">
                        {{ dropzone.create(action_view='main.upload')  }}
                    </div>
                  </div>
                </div>
            
        </div>
    </div>
  </div>
</div> -->

{% block recorder %}
<div class="container" style="display: flex;flex-wrap: wrap; width:100%;">
    <p><bold>Record Audio:</bold></p>
        <canvas id="analyser" style="width:100%;height:100px;background-color: hsla(0, 0%, 50%, 0.25)" width="1024" height="250"></canvas>
</div>

<div class="container" style="display: flex;flex-wrap: wrap;">
<div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
</div>
</div>
<div class="container" style="display: flex;flex-wrap: wrap;">
<div id="formats">Format: start recording to see sample rate</div>
</div>
<div class="container" style="display: flex;flex-wrap: wrap;">
<br>
<br>
<p><strong>Recordings:</strong></p>
<ol id="recordingsList"></ol>
<a href="{{ url_for('main.home') }}" class="btn btn-success" id='results' style='display:none;background-color: #008CBA; width: 100px;'>Results</a>
</div>

{% endblock %}


{% block results %}



<form autocomplete="off" action="/submit_form" method='POST' id="submitform">
    <div class="container-fluid content-row">
        <div class="row" style="display: flex;flex-wrap: wrap;">
        
        {% for audio in result %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card text-white bg-dark mb-1 h-100">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="custom-control custom-checkbox" style="display:inline; ">
                                    <input type="checkbox" style="float:right;transform:scale(2); " class="form-check-input" name="audios" id="{{audio['name']}}" value="{{audio['name']}}" onclick="displaydiv(this);">     
                                </div>
                                <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1_{{audio['name']}}" data-audio="{{audio}}" onclick="load_audio(this);">{{audio['name']}}</a>
                                </h4>
                                
                            </div>

                        <div id="collapse1_{{audio['name']}}" class="panel-collapse collapse">
                            <ul class="list-group">
                            
                                <li class="list-group-item">
                                    <p class="card-text">ORIGINAL
                                        <button type='button' id="play{{audio['name']}}" class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-play"></i>/
                                        <i class="glyphicon glyphicon-pause"></i>
                                        </button>
                                    </p>
                                    <div id="waveform{{audio['name']}}"></div>
                                    <div id="wave-timeline{{audio['name']}}"></div>
                                    
                                    
                                <!-- <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['name']+audio['ext']) }}?{{ range(1, 500) | random }}"></audio> -->
                                
                                <!-- </li> -->

                                <!-- {% if audio['webrtc'] %}
                                <li class="list-group-item">
                                <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['webrtc'])}}?{{ range(1, 500) | random }}"></audio>
                                <p class="card-text"><small class="text-muted">WEBRTC</small></p>
                                </li>
                                {% endif %}
                                
                                
                                {% if audio['kaldi'] %}
                                <li class="list-group-item">
                                <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['kaldi'] )}}?{{ range(1, 500) | random }}"></audio>
                                <p class="card-text"><small class="text-muted">KALDI</small></p>
                                </li>
                                {% endif %} -->
                                
                                
                                <!-- {% if audio['deepvad'] %}
                                <div id="waveform{{audio['deepvad'][:-4]}}"></div>
                                <button type='button' id="play{{audio['deepvad'][:-4]}}" class="centre">Play</button>
                                <p class="card-text"><small class="text-muted">DEEPVAD</small></p>
                                {% endif %}

                                 -->
                                <!-- {% if audio['denoised'] %}
                                <li class="list-group-item">
                                <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['denoised'] )}}?{{ range(1, 500) | random }}"></audio>
                                <p class="card-text"><small class="text-muted">DENOISED AUDIO</small></p>
                                </li>
                                {% endif %} -->
                                   
                                
                                {% if audio['denoised_vad'] %}
                                <!-- <li class="list-group-item"> -->
                                <br>
                                <p class="card-text">DENOISE+VAD
                                    <button type='button' id="play{{audio['denoised_vad'][:-4]}}" class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-play"></i>/
                                        <i class="glyphicon glyphicon-pause"></i>
                                    </button>
                                </p>
                                <div id="waveform{{audio['denoised_vad'][:-4]}}"></div>
                                <div id="wave-timeline{{audio['denoised_vad'][:-4]}}"></div>
                                
                                <!-- <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['denoised_vad'] )}}?{{ range(1, 500) | random }}"></audio> -->
                                
                                <!-- </li> -->
                                {% endif %}
                                
                                
                                <!-- {% if audio['noise'] %}
                                <li class="list-group-item">
                                <audio controls><source src="{{ url_for('static', filename = 'tmp/uploads/'+audio['noise'] )}}?{{ range(1, 500) | random }}"></audio>
                                <p class="card-text"><small class="text-muted">NOISE</small></p>
                                </li>
                                {% endif %} -->

                                </li>
                                {% if audio['LANGUAGE_ID'] %}
                                <li class="list-group-item">
                                
                                {% for language,acc in audio['LANGUAGE_ID'].items() %}
                                    <p class="card-text"><small class="text-muted">LANGUAGE_{{loop.index}}: {{language}}</small></p>
                                    <p class="card-text"><small class="text-muted">Acc_{{loop.index}}: {{acc}}</small></p>
                                {% endfor %}
                                
                                <div class="form-group">
                                    <div class="autocomplete" id="autocomplete_{{audio['name']}}" style="width:100px;display:none;">
                                    <input id="language_{{audio['name']}}" type="text" name="language" placeholder="Language" onclick="wrapauto(this);">
                                    <input value = "{{audio['name']}}" type="hidden" name="ids">
                                    </div>
                                </div>
                                </li>
                                {% endif %}
                                {% if audio['GENDER'] %}
                                <li class="list-group-item">
                                {% for gender,acc in audio['GENDER'].items() %}
                                    <p class="card-text"><small class="text-muted">GENDER: {{gender}}</small></p>
                                    <p class="card-text"><small class="text-muted">Acc: {{acc}}</small></p>
                                {% endfor %}
                                </li>
                                {% endif %}

                                {% if audio['TEXT'] %}
                                <li class="list-group-item">
                                {% for text,acc in audio['TEXT'].items() %}
                                    <p class="card-text"><small class="text-muted">TEXT: {{text.replace('\\','').replace('\'','')}}</small></p>
                                {% endfor %}
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
       {% endfor %}
                                
    </div>
</div>
    
<div class="container" style="text-align: center;">
    
    <button type="submit" form="submitform" name="action" value="Submit" class="btn btn-success" onclick="return popup();">Submit</button>
    <button type="submit" form="submitform" name="action" value="Delete" class="btn btn-danger" onclick="return popup();">Delete</button>
    <button type="submit" form="submitform" name="action" value="VAD" class="btn btn-primary" onclick="return popup();">VAD</button>
    <button type="submit" form="submitform" name="action" value="DENOISE" class="btn btn-primary" onclick="return popup();">DENOISE</button>
    <button type="submit" form="submitform" name="action" value="LID" class="btn btn-primary" onclick="return popup();">LID</button>
    <button type="submit" form="submitform" name="action" value="GID" class="btn btn-primary" onclick="return popup();">GID</button>
    <button type="submit" form="submitform" name="action" value="ASR" class="btn btn-primary" onclick="return popup();">ASR</button>
    <button type="submit" form="submitform" name="action" value="ALL" class="btn btn-danger" onclick="return popup();">ALL</button>
</div>

</form>


<!-- <a href="{{ url_for('main.reset') }}" class="btn btn-danger">Discard Changes</a>
<a href="{{ url_for('main.save') }}" class="btn btn-success">Save Database</a> -->

<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
  <ul class="pagination">
  {% if prev_url %}
      <li>
      <a class="page-link" href="{{ prev_url }}">Previous</a>
      </li>
  {% else %}
      <li class="disabled">
      <a class="page-link">Previous</a>
      </li>
  {% endif %}
  
  <li class="page-item {% if current==1%}active{% endif %}"><a class="page-link" href="{{ url_for('main.home', page=1) }}">{{1}}</a></li>
  {% for page in range( ([( [ (([current-5,2]|sort)[-1])+10,total_pages]|sort )[0]-10,2]|sort)[-1],([(([current-5,2]|sort)[-1])+10,total_pages]|sort)[0],1) %}
      <li class="page-item {% if current==page %}active{% endif %}"><a class="page-link" href="{{ url_for('main.home', page=page) }}">{{page}}</a></li>
  {% endfor %}
  {% if total_pages > 1 %}
      <li class="page-item {% if current==total_pages %}active{% endif %}"><a class="page-link" href="{{ url_for('main.home', page=total_pages) }}">{{total_pages}}</a></li>
  {% endif %}
  {% if next_url %}
        <li>
        <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
  {% else %}
      <li class="disabled">
      <a class="page-link">Next</a>
      </li>
  {% endif %}
  </ul>
</div>
</div>
</div>
<!-- <div class="container">
    <div class="center-block align"><p class="text-center text-info"> Page {{current}} of {{total_pages}}</p></div>
    <div class="center-block align"><p class="text-center text-info">{{im_from}} to {{im_to}} of {{db_size}}</p></div>
</div> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/wavesurfer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wavesurfer.regions.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wavesurfer.timeline.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>

{% endblock %}
{% endblock %}
