{% extends "base.html" %}
{% block title %}Login System{% endblock %}
{{ super() }}

{% block content %}
<form action="/login" method="POST">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username"  placeholder="Enter Username" required>
  </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <div class="form-group">
      <label class="checkbox">
      <input type="checkbox" name="remember">
        Remember me
      </label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
