{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

<form action="/register" method="POST">
    <div class="form-group">
        <label for="Username">Username:</label>
        <input name="username" class="form-control" id="username" placeholder="Enter username">
        <small id="username" class="form-text text-muted">Please enter your username</small>
  </div>
  <div class="form-group">
    <label for="pass1">Password (8 characters minimum):</label>
    <input type="password" name="pass1" class="form-control" id="pass1" placeholder="Password" minlength="8" required>
  </div>

    <div class="form-group">
    <label for="pass2">Repeat Password</label>
    <input type="password" name="pass2" class="form-control" id="pass2" placeholder="Repeat Password">

    </div>
  <button type="submit" class="btn btn-primary">Register</button>


</form>



{% endblock %}