{% extends "base.html" %}
{% block title %}Upload File{% endblock %}
{% block head %}
{{ super() }}
{{ dropzone.load() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
        <h1>Audio Upload</h1>
        {{ dropzone.create(action_view='main.upload')  }}
    </div>
  </div>
</div>
{% endblock %}
