
{% extends "layout.html" %}
{{ super() }}
{% block body %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        	<footer>
     		{% block footer %}
			
     		<p class="copyright">
			{% if g_user_autenticated %}
			API_KEY: {{g_user_api_key}}
			{% endif %}
			
      		&copy; Copyright 2021 by <a href="{{url_for('main.about')}}">OSCAR TOKU</a>.
      		</p>
     		{% endblock %}
  			</footer>
{% endblock %}
