<!doctype html>
<html>
	<head>
	{% block head %}
	{% endblock %}
	<!-- jQuery library -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!-- Latest compiled JavaScript -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>

	</head>
	<body>
	
	
		{% include "nav.html" %}
		<div class="container">
    		{% include "flash_messages.html" %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
	
