{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-sticky-top">
  <div class="container-fluid" style="padding-left: 0px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a href="{{ url_for('main.home') }}" class="navbar-left"><img src="{{url_for('static', filename = 'g42.png')}}" width="50px" height="50px"></a>
    <a class="navbar-brand" href="{{ url_for('main.home') }}" style="background:red;color:white;position: relative;">Speech Recognition</a>
    </div>
    
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if g_user_autenticated %}
        
        <li class="active">
            <a href="#">Hi {{g_username}}!</a>
        </li>
        <li class="{% if active=='home' %}active{%endif %}">
            <a href="{{ url_for('main.home') }}">Home</a>
        </li>
        <li class="{% if active=='upload' %}active{%endif %}">
            <a href="{{ url_for('main.upload') }}">Upload</a>
        </li>
        <li class="{% if active=='results' %}active{%endif %}">
            <a href="{{ url_for('main.results') }}">Results</a>
        </li>
        <li class="{% if active=='about' %}active{%endif %}">
            <a href="{{ url_for('main.about') }}">About</a>
        </li>
        <li class="{% if active=='logout' %}active{%endif %}">
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="{% if active=='login' %}active{%endif %}">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li class="{% if active=='register' %}active{%endif %}">
            <a href="{{ url_for('auth.register') }}">Register</a>
        </li>
        <li class="{% if active=='about' %}active{%endif %}">
            <a href="{{ url_for('main.about') }}">About</a>
        </li>
        {% endif %}
        
      </ul>
    </div><!--/.nav-collapse -->
    

  </div>
</nav>
{% endblock %}
